<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Sintax>
            <version>0.1.0</version>
        </Mage_Sintax>
    </modules>
    <global>
        <models>
            <sintax>
                <class>Mage_Sintax_Model</class>
                <resourceModel>sintax_mysql4</resourceModel>
            </sintax>
            <sintax_mysql4>
                <class>Mage_Sintax_Model_Mysql4</class>
            </sintax_mysql4>
        </models>
        <blocks>
            <sintax>
                <class>Mage_Sintax_Block</class>
            </sintax>
        </blocks>
        <helpers>
            <sintax>
                <class>Mage_Sintax_Helper</class>
            </sintax>  
        </helpers>
        <!-- Surcharge d'un controlleur accessible-->
        <rewrite>
            <mage_sintax_customer_account>
                <from><![CDATA[#^/customer/account/#]]></from> <!-- traduit par http://www.mymagentostore.com/customer/account/ -->
                <to>/sintax/customer_account/</to> <!-- traduit par /Mynamespace/Mymodule/controllers/Customer/AccountController.php -->
            </mage_sintax_customer_account>
        </rewrite>
        <!-- Surcharge d'un controlleur d'arriere plan-->
        <routers>
            <cms>
                <rewrite>
                    <page>
						<to>/sintax/cms_page</to>
						<override_action>true</override_action>
						<actions>
								<view><to>sintax/cms_page/view</to></view>
						</actions>
                    </page>
                </rewrite>
            </cms>
        </routers>
    </global>
    <frontend>
        <routers>
            <Mage_Sintax>
                <use>standard</use>
                <args>
                    <module>Mage_Sintax</module>
                    <frontName>sintax</frontName>
                </args>
            </Mage_Sintax>
        </routers>
    </frontend>
    <admin>
        <routers>
            <sintax>
                <use>admin</use>
                <args>
                    <module>Mage_Sintax</module>
                    <frontName>sintax</frontName>
                </args>
            </sintax>
        </routers>
    </admin>    
    <adminhtml>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <sintax>Mage_Sintax.csv</sintax>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
        
        <menu>
            <catalog>
                <children>
                    <sintax_adminform translate="title" module="sintax">
                        <title>My Form</title>
                        <action>sintax/adminhtml_myform</action>
                    </sintax_adminform>
                </children>
            </catalog>
        </menu>
        
        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <sintax_adminform>
                                    <title>My Form</title>
                                </sintax_adminform>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <layout>
            <updates>
                <sintax>
                    <file>sintax.xml</file>
                </sintax>
            </updates>
        </layout>
    </adminhtml>
</config>
