<?xml version="1.0"?>
<config>
    <modules>
        <Pfay_Ecard>
            <version>1.0.0</version>
            <depends>
            <!-- no dependencies -->
            </depends>
        </Pfay_Ecard>
    </modules>
    <frontend>
	       <routers>
	          <routecard>
	              <use>standard</use>
	              <args>
	                 <module>Pfay_Ecard</module>
	                 <frontName>ecard</frontName>
	              </args>
	           </routecard>
	       </routers>
			<layout>
			   <updates>
					<ecard>
						 <file>ecard.xml</file>
					 </ecard>
				</updates>
			</layout>
	</frontend>
     <adminhtml>
      <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <ecard_section translate="title">
                                        <title>Ma Section </title>
                                        <sort_order>100</sort_order>
                                    </ecard_section>
                                </children>
                            </config>
                        </children>
                    </system>
                 </children>
            </admin>
        </resources>
    </acl>
   </adminhtml>
   <global>
		<blocks>
			<ecard>
				<class>Pfay_Ecard_Block</class>
			</ecard>
		</blocks>
   </global>
</config>
