<?xml version="1.0"?>
  <config>
     <modules>
        <Pfay_Test>
          <version>1.0.3</version>
        </Pfay_Test>
     </modules>
     <frontend>
       <routers>
<!--
For overriding the Checkout_Cart controller (ça marche c'est une autre methode de surcharge)
		 <checkout>
			 <args>
			   <modules>
				 <Pfay_Test_Checkout before="Mage_Checkout">Pfay_Test_Checkout</Pfay_Test_Checkout>
			   </modules>
			 </args>
		 </checkout>
-->
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>Pfay_Test</module>
                 <frontName>test</frontName>
              </args>
           </routeurfrontend>
       </routers>
		<translate>
		  <modules>
			<Pfay_Test>
				<files>
					<default>Pfay_Test.csv</default>
				</files>
			</Pfay_Test>
		  </modules>
		</translate>
		<layout>
		   <updates>
				<test>
					 <file>test.xml</file>
				 </test>
			</updates>
		</layout>
    </frontend>    
	<admin>
		 <routers>
			 <test>
				<use>admin</use>
				<args>
				   <module>Pfay_Test</module>
				   <frontName>admintest</frontName>
				</args>
			 </test>
		  </routers>
	 </admin>
	 <adminhtml>
	   <layout>
		  <updates>
			  <test>
				  <file>test.xml</file>
			  </test>
		  </updates>
	   </layout>
	   <menu>
		  <test translate="title" module="adminhtml">
			 <title>Mes modules</title>
			 <sort_order>100</sort_order>
			 <children>
				 <set_time>
					   <title>Carnet d'adresse</title>
					   <action>admintest/adminhtml_index</action>
				  </set_time>
			  </children>
		   </test>
		</menu>
	</adminhtml>
	
	<global>
		<blocks>
			<test>
				<class>Pfay_Test_Block</class>
			</test>
		</blocks>
		<helpers>
		   <test>
				  <class>Pfay_Test_Helper</class>
			</test>
		</helpers>
		<models>
		 <test>
			 <class>Pfay_Test_Model</class>
			 <resourceModel>test_mysql4</resourceModel>
		 </test>
		 <test_mysql4>
			 <class>Pfay_Test_Model_Mysql4</class>
			 <entities>
				 <contact>
				   <table>pfay_test_contacts</table>
				 </contact>
<!--
				 <listing_ville>
				   <table>listing_ville</table>
				 </listing_ville>
-->
			  </entities>
		 </test_mysql4>
		</models>
<!-- Déclaration de l'observer "Pfay_Test_Model_Observer" du Event : cms_page_prepare_save-->
<!-- L'observer affiche la page CMS enregistré dans le Backend-->

<!--
		<events>
		   <cms_page_prepare_save>
			<observers>
			   <Pfay_Test_Model_Observer>
				   <type>singleton</type>
				   <class>test/observer</class>
				   <method>saveCmsPageObserve</method>
				   </Pfay_Test_Model_Observer>
			   </observers>
		  </cms_page_prepare_save>
		</events>
-->

		<!-- permet au module de lire et ecrire -->
		<resources>
				<!-- connection pour ecrire -->
				<test_write>
					<connection>
						<use>core_write</use>
					</connection>
				</test_write>
				<!-- connection pour lire-->
				<test_read>
					<connection>
						<use>core_read</use>
					</connection>
				</test_read>
				<test_setup>
					<setup>
						<module>Pfay_Test</module>
						<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
					</setup>
					<connection>
						<use>core_setup</use>
					</connection>
				</test_setup>
		</resources>
		 <!-- -/- -->
	</global>
</config>
